In [1]:
import pandas as pd
import numpy as np

from pathlib import Path
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
Path().cwd()
filename = Path("../lists/mars_v02a_2017-07-13.list")
filename,filename.exists()

PosixPath('/local/scratch/home/pd423/ph6/01_ens-extended_download/notebooks')

(PosixPath('../lists/mars_v02a_2017-07-13.list'), True)

In [5]:
df = pd.read_table(filename, header=14,skipfooter=6,delim_whitespace=True,
                   dtype={'file': 'int',
                        'length': 'int',
                        'missing': 'str',
                        'number': 'int',
                        'offset': 'int',
                        'param': 'str',
                        'step': 'int'}
                   )
df

/tmp/ipykernel_279130/3396813462.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_table(filename, header=14,skipfooter=6,delim_whitespace=True,

      file   length missing  number         offset    param  step
0        0  3325602       .       1       37743956   22.228     0
1        0  3325602       .       1      166563412  129.128     0
2        0  3325602       .       1      176540218  134.128     0
3        0  3325602       .       1      228085688  165.128     0
4        0  3325602       .       1      231411290  166.128     0
...    ...      ...     ...     ...            ...      ...   ...
3896     2   843682       .       1  1081338627286  178.128  1104
3897     2   843682       .       1  1081346220424  205.128  1104
3898     2   843682       .       1  1081352126198  236.128  1104
3899     2   843682       .       1  1081352969880  246.228  1104
3900     2   843682       .       1  1081353813562  247.228  1104

[3901 rows x 7 columns]

In [21]:
df.describe()

          file        length       number        offset          step
count  79850.0  7.985000e+04  79850.00000  7.985000e+04  79850.000000
mean       0.0  8.685478e+05     25.50000  8.638965e+11    731.767063
std        0.0  2.471790e+05     14.43096  1.278889e+11    216.942410
min        0.0  8.436820e+05      1.00000  6.271378e+11    360.000000
25%        0.0  8.436820e+05     13.00000  7.534466e+11    546.000000
50%        0.0  8.436820e+05     25.50000  8.639577e+11    732.000000
75%        0.0  8.436820e+05     38.00000  9.744960e+11    918.000000
max        0.0  3.325602e+06     50.00000  1.085001e+12   1104.000000

In [6]:
df.pivot_table(
    index="number",
    columns="param",
    values="step",
    # margins=True,
    aggfunc='count'
)

param,129.128,134.128,165.128,166.128,167.128,169.128,173.128,174.128,175.128,176.128,178.128,205.128,22.228,236.128,246.228,247.228
number,,,,,,,,,,,,,,,,
1,269,269,269,269,269,269,176,176,269,269,176,269,145,269,269,269

In [20]:
pt =df.pivot_table(
    index="step",
    columns="param",
    values="number",
    # margins=True,
    aggfunc='count'
)
pt[["173.128"]]

KeyError: "['param'] not in index"

In [42]:
pt[["173.128"]].index[pt[["173.128"]].isna().values.flatten()]

Int64Index([ 366,  372,  378,  390,  396,  402,  414,  420,  426,  438,  444,
             450,  462,  468,  474,  486,  492,  498,  510,  516,  522,  534,
             540,  546,  558,  564,  570,  582,  588,  594,  606,  612,  618,
             630,  636,  642,  654,  660,  666,  678,  684,  690,  702,  708,
             714,  726,  732,  738,  750,  756,  762,  774,  780,  786,  798,
             804,  810,  822,  828,  834,  846,  852,  858,  870,  876,  882,
             894,  900,  906,  918,  924,  930,  942,  948,  954,  966,  972,
             978,  990,  996, 1002, 1014, 1020, 1026, 1038, 1044, 1050, 1062,
            1068, 1074, 1086, 1092, 1098],
           dtype='int64', name='step')

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False,  True, False, False, False,
        True, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False,  True, False, False, False,
        True, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False,  True, False, False, False,
        True, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True])